{include file="public/header"}
<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/qianbaodizhi-band.css">
    <style>
        input{
            background: white;
            color: black;
        }
        a:hover{
          text-decoration: none;
        }
    </style>
<body style="background: #EFEFEF">
<div class="contain"  style="height:500px;">
    <!--头部-->
    {include file="public/top_menu"}
    <!--头部-->
    <!--加空白-->
    <div style=" height: 70px;width: 100%">
    </div>
    <!--加空白-->
    <div class="row">
    </div>
    <form action="" class="form-horizontal">
        <!--当前钱包地址-->
        <div class="form-group" style="margin-left: 0;margin-right: 0;">
            <label for="anzhi" class="col-xs-2 anzhi-label text-center" style="padding-left:0;padding-right:0;background: #fff;margin-bottom: 0;">
                <span class="span-1 col-xs-8 text-left  col-xs-offset-1" style="padding-left: 0;">当前钱包地址</span>
            </label>
            <input type="text" value="0x743F67527FF4DD21eec7e7AE041888f70D1C70"
                   class="col-xs-10" id="anzhi" disabled style=" color: black;">
        </div>
        <!--当前钱包地址-->
        <!--账号-->
        <div class="form-group" style="margin-left: 0;margin-right: 0;">
            <label for="zhangH" class="col-xs-2 anzhi-label text-center" style="padding-left:0;padding-right:0;background: #fff;margin-bottom: 0">
                <span class="span-1 col-xs-9 text-left  col-xs-offset-1" style="padding-left: 0">账号</span>
            </label>
            <input type="text" value="bbc"  class="col-xs-10" id="zhangH" disabled style=" color: black;">
        </div>
        <!--账号-->
        <!--绑定钱包地址-->
        <button type="submit" class="btn btn-block" style="color:white;outline: none;border: none">已绑定钱包地址</button>
        <!--绑定钱包地址-->
        <!--文字-->
        <div class="row">
            <p class="col-xs-12 text-center footer-p">钱包地址一经绑定后不可修改，若有问题请联系客服或咨询留言</p>
        </div>
        <!--文字-->
    </form>
    {include file="public/footer"}
<script>
    $("#gongneng").click(function () {
        $("#zhezhao").css("display","block")
    })
    $(".navH").click(function () {
        $("#zhezhao").css("display","none")
    })
</script>