

{include file="public/header"}
{include file="public/page"}
<body>
<div class="x-nav">

    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <form class="layui-form x-center" action="order.html" style="width:800px" id="form2" method="get">
        <div class="layui-form-pane" style="margin-top: 15px;">
            <div class="layui-form-item">
                <div class="layui-input-inline" style="text-align:right;padding-left:10%">
                    <input type="text" name="title" id="name" placeholder="请输入用户名或订单号" autocomplete="off" class="layui-input" value="{$title}">
                </div>
                <!--<div class="layui-input-inline">
                    <select name="status" >
                        {volist name="status_option" id ="vo"}
                        <option value="{$key}">{$vo}</option>
                        {/volist}
                    </select>
                </div>-->
                <div class="layui-input-inline" style="width:80px">
                    <button class="layui-btn"  id="search" lay-submit="" lay-filter="sreach"><i class="layui-icon"  >&#xe615;</i></button>
                </div>
            </div>
        </div>
    </form>



    <table class="layui-table">
        <thead>
        <tr>

            <th>
                ID
            </th>

            <th>
                订单编号
            </th>
            <th>
                用户名
            </th>
            <th>
                收款人
            </th>
            <th>
                金额
            </th>
            <th>
                通知状态
            </th>
            <th>
                订单状态
            </th>
            <th>
                生成日期
            </th>
            <th>
                支付日期
            </th>
        </tr>
        </thead>
        <tbody>
        {foreach $lists as $k=>$vo}
        <tr>

            <td>
                {$vo['id']}
            </td>
            <td>
                {$vo['or_sn']}
            </td>
            <td >
                {$vo['user1']}
            </td>
            <td>{$vo['user2']}</td>
            <td>{$vo['amount']}</td>
            <td>{$msg_status_option[$vo['msg_status']]}</td>
            <td>{$status_option[$vo['status']]}</td>
            <td>{:date("Y-m-d H:i",$vo['add_time'])}</td>
            <td>{notempty name="vo['end_time']"}{$vo['end_time']|date='Y-m-d H:i',###}{else/}{$status_option[$vo['status']]}{/notempty}</td>

        </tr>
        {/foreach}
        </tbody>
    </table>
    <div id="page" style="display:none"></div>
    <div style="text-align:center;">{$lists->render()}</div>
</div>


{include file="public/footercom"}




</body>
</html>
