
    <script type="text/javascript" src="__STATIC__/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="__STATIC__/js/layer/layer.js"></script>
    <style type="text/css">
	@media screen and (min-width: 1081px)
	#pwd1{
	    border: none;
	    border-radius: 10px;
	    box-shadow: none;
	    margin-bottom: 20px;
	    background-color: rgba(193, 182, 182, 0.2);
	    font-size: 24px;
	    background: url(__STATIC__/index/img/1.png) no-repeat;
	    background-size: 42px;
	    background-position: 11px 10px;
	    width: 600px;
	    padding-left: 70px;
	    color: white;
	    height: 60px;
	}
	@media screen and (max-width: 1080px)
	#pwd1{
	    border: none;
	    border-radius: 10px;
	    box-shadow: none;
	    margin-bottom: 20px;
	    font-size: 20px;
	    background-color: rgba(193, 182, 182, 0.2);
	    background: url(__STATIC__/index/img/1.png) no-repeat;
	    background-position: 16px 4px;
	    width: 85%;
	    background-size: 29px;
	    color: white;
	    height: 50px;
	    padding-left: 70px;
	}
	</style>