<!DOCTYPE html>
<html lang="en">
<title>公告</title>
<head>
    <title>公告</title>
    <!-- 设置文档编码 -->
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <!-- -->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!--<link rel="" href="../js/c-jinbi.js">-->
    <!---->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- jQuery文件。务必在务必在bootstrap.min.js 之前引 之前引入 -->
  <!--  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>-->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="__STATIC__/index/js/jquery.min.1.8.2.js"></script>
<script src="__STATIC__/index/js/layer/layer.js"></script>
</head>
<!--xs  sm md  lg   -->