<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/htmleaf-demo.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/forget_first.css">
    {include file="public/com"}
<body>
	<div class="htmleaf-container">
		<div class="demo form-bg">
	        <div class="container">
	            <div class="row">
	                <div class="col-md-offset-3 col-md-6">
	                    <form class="form-horizontal" id="myform">
	                    	<img src="__STATIC__/index/img/login.png"/>
	                        <span class="heading">忘记密码</span>
	                        <div class="form-group">
	                            <input type="email" name="user_login" class="form-control-user" id="inputEmail3" placeholder="用户名" class="user" style="background-color: rgba(193, 182, 182, 0.2);">
	                    
	                        </div>
	                        <div class="form-group">
	                            <input type="email" name="mobile" class="form-control-tel" id="send_mobile" placeholder="手机号码" style="background-color: rgba(193, 182, 182, 0.2);">
	                        
	                        </div>
	                        <div class="form-group">
	                            <input type="text" name="send_code" id="send_code" class="form-control-yzm" placeholder="手机验证码" style="background-color: rgba(193, 182, 182, 0.2);">
	                             <button type="button" onclick="sendemail()" id="btn" class="yzm">发送验证码</button>
	                           
	                        
	                        </div>
	                        <div class="form-group">
	                            <input  
	        style="background: url(__STATIC__/index/img/1.png) no-repeat;
		    border: none;
		    border-radius: 10px;
		    box-shadow: none;
		    margin-bottom: 20px;
		    background-color: rgba(193, 182, 182, 0.2);
		    font-size: 20px;
		    background-size: 30px;
		    background-position: 11px 4px;
		    padding-left: 70px;
		    color: white;
		    height: 50px;
		    " 
		    id="pwd1" name="upwd" type="password" class="form-control-tel" id="inputEmail3" placeholder="密码" style="background-color: rgba(193, 182, 182, 0.2);">
	                        
	                        </div>
	                        <div class="form-group" style="margin-top: 40px">
                                <a href="{:url('login')}" class="btn-red " >退回登陆</a>
	                            <a href='javascript:void(0)' class="btn-green" onclick="return registerPost();">提&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交</a>
	                        </div>
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
		
	</div>
<script>
	/**
	 * [发送短信定时器 description]
	 * @type {Number}
	 */
		var countdown=60; 
		function sendemail(){
		    var obj = $("#btn");
			var myphone =/^(((13[0-9]{1})|(14[0-9]{1})|(17[0]{1})|(15[0-3]{1})|(15[5-9]{1})|(18[0-9]{1})|(19[0-9]{1}))+\d{8})$/;  
			var send_mobile  =$("#send_mobile").val();  
			var send_code  =$("#send_code").val();
			var username=$("input[name='user_login']").val();
			// alert(username);exit;
				if($("input[name='user_login']").val()=='')
				{
				  layer.msg('请输入用户名！',{icon:5,time:2000});
				  myform.user_login.focus();
				  return false;
				}else
				if(send_mobile.value=='')
				{
				  layer.msg('请填写手机号码！',{icon:5,time:2000});
				  myform.mobile.focus();
				  return false;
				}
				else if(!myphone.test(send_mobile))
				{
				  layer.msg('请填写11位数手机号码！',{icon:5,time:2000});
				  myform.mobile.focus();
				  return false;
				}
			  settime(obj);//倒计时

			  $.ajax({
			      type:"post",
			      url:"{:url('login/send_code')}",
			      data:{mobile:send_mobile,send_code:send_code},//这里data传递过去的是序列化以后的字符串公共
			      success:function(data){
			          if(data!=='提交成功'){
			              layer.msg(data, {icon: 2,time:3000});
			              setTimeout(function(){ location.href = location.href; }, 2000);
			              myform.send_code.focus();
			              return false;
			          }else if(data.status==-1){
			              layer.msg(data.msg, {icon: 2,time:2000});
			              // location.href = window.location.href;
			          }else if(data.status==-2){
			              document.getElementById("content").innerHTML = data.msg
			          }else if(data.status==-3){
			              // document.getElementById("content").innerHTML = data.msg
			              layer.msg(data.msg,{
			                  icon:2,//背景
			                  time: 2000, //2s后自动关闭
			              });
			          }else if(data=='ok'){
			              //垃圾闪跳
			              // layer.msg('登录成功!', function(){
			              //     location.href="{:url('/index/user/index')}";
			              // });
			               layer.msg("登录成功!", {icon: 6,time:1000},function () {
			                    location.href="{:url('/index/user/index')}";
			               });
			          }

			      }
			  });
		    }
		function settime(obj) { //发送验证码倒计时
		    if (countdown == 0) { 
		        obj.attr('disabled',false); 
		        //obj.removeattr("disabled"); 
		        obj.text("发送验证码");
		        countdown = 3; 
		        return;
		    } else { 
		        obj.attr('disabled',true);
		        obj.text("重新发送(" + countdown + ")");
		        countdown--; 
		    } 
		setTimeout(function() { 
		    settime(obj) }
		    ,1000) 
		}
	/**
	 * [正则验证 description]
	 * @return {[type]} [description]
	 */
      function registerPost(){
			//alert(165216)
		// var myphone =/^(((13[0-9]{1})|(14[0-9]{1})|(17[0]{1})|(15[0-3]{1})|(15[5-9]{1})|(18[0-9]{1})|(19[0-9]{1}))+\d{8})$/;  
		// var myuser =/^[a-zA-Z0-9_-]{6,16}|[a-zA-Z]{6,16}|[a-zA-Z0-9]{6,16}$/;//用户名正则，6到16位（字母，数字，下划线，减号）
		// var mypwd =/^[0-9a-zA-Z]{6,21}|[a-zA-Z0-9]{6,21}|[a-zA-Z]{6,21}$/;
		// var mymail = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
		// var upwd1  =$("#pwd1").val();
		// /*var upwd2  =document.getElementById("pwd2").value;*/
		// // alert(upwd1.length);exit;
		// /*alert(upwd1);exit;*/
		// if(myform.user_login.value==''){
		//   // document.getElementById("content").innerHTML = "请填写用户名！";
		//   layer.msg('请输入用户名！',{icon:5,time:2000});
		//   myform.user_login.focus();
		//   return false;
		// }
		// else if(!myuser.test(myform.user_login.value))
		// {
		//   // document.getElementById("content").innerHTML = "请填写6-16以字母开头用户名！";
		//   layer.msg('请填写6-16以字母开头用户名！', {icon: 5,time:2000});
		//   myform.user_login.focus();
		//   return false;
		// }
		// else if(myform.mobile.value=='')
		// {
		//   //document.getElementById("content").innerHTML = "请填写手机号码！";
		//   layer.msg('请填写手机号码！',{icon:5,time:2000});
		//   myform.mobile.focus();
		//   return false;
		// }
		// else if(!myphone.test(myform.mobile.value))
		// {
		//   // document.getElementById("content").innerHTML = "请填写11位数手机号码！";
		//   layer.msg('请填写11位数手机号码！',{icon:5,time:2000});
		//   myform.mobile.focus();
		//   return false;
		// }
		// else if(myform.send_code.value=='')
		// {
		//   // document.getElementById("content").innerHTML = "请时输入验证码！";
		//   layer.msg('请时输入验证码！',{icon:5,time:2000});
		//   myform.send_code.focus();
		//   return false;
		// }
		// else if(upwd1=='')
		// {
		//   // document.getElementById("content").innerHTML = "请时输入邀请码！";
		//   layer.msg('请时输入密码！',{icon:5,time:2000});
		//   myform.upwd.focus();
		//   return false;
		// }
		// else if(upwd1.length<6)
		// {
		//   // document.getElementById("content").innerHTML = "请时输入邀请码！";
		//   layer.msg('密码长度必须至少6位字母或数字！',{icon:5,time:2000});
		//   myform.upwd.focus();
		//   return false;
		// }
		// else
		// {
		  var formData = $("#myform").serialize();
		  // serialize() 方法通过序列化表单值，创建 URL 编码文本字符串,这个是jquery提供的方法
		  $.ajax({
		      type:"post",
		      url:"{:url('login/find_mima')}",
		      data:formData,//这里data传递过去的是序列化以后的字符串
		      success:function(data){
		          if(data.status==1){
		              // $("#content").append(data);//获取成功以后输出返回值,会重复写入
		              // document.getElementById("content").innerHTML = data.msg;
		              // layer.msg(, {icon: 6,time:2000});
		              layer.msg("修改成功!", {icon: 6,time:1000},function () {
		                  location.href="{:url('/index/login/login')}";
		              });
		          }else if(data.status==-1){
		              layer.msg(data.msg, {icon: 2,time:2000});
		          }else if(data.status==-2){
		              layer.msg(data.msg, {icon: 2,time:2000});
		          }else if(data.status==-3){
		              layer.msg(data.msg, {icon: 2,time:2000});
		          }else if(data.status==-4){
		              layer.msg(data.msg, {icon: 2,time:2000});
		          }else if(data.status==-5){
		              layer.msg(data.msg, {icon: 2,time:2000});
		          }else if(data.status==-6){
		              layer.msg(data.msg, {icon: 2,time:2000});
		          }else if(data.status==-7){
		              layer.msg(data.msg, {icon: 2,time:2000});
		          }else if(data.status==-8){
		              layer.msg(data.msg, {icon: 2,time:2000});
		          }else if(data.status==-9){
		              layer.msg(data.msg, {icon: 2,time:2000});
		          }
		      }
		  });
		// }

      }
</script>
</body>
</html>