{include file="public/header1"}
<div class="container">
    <!--头部菜单-->
    <!-- {include file="public/top_menu1"} -->
    <!--遮罩层-->
    {include file="public/left_menu1"}
    <!--遮罩层-->
</div>
<script>
    $("#gongneng").click(function () {
        $("#zhezhao").css("display","block")
    })
    $(".navH").click(function () {
        $("#zhezhao").css("display","none")
    })
</script>
    <!--头部-->
    
    <!-- form -->
<table width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;position:  relative;top: 25px;">
   <tbody>
      <tr>
          <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">ID</td>
          <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">123456</td>
      </tr>
      <tr>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">账号</td>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">bbc</td>
      </tr>
      <tr>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">姓名</td>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">叶赫那拉氏</td>
      </tr>
      <tr>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">手机号码</td>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">13333333333</td>
      </tr>
      <tr>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">身份证</td>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">339***********33</td>
      </tr>
      <tr>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">邀请人账号</td>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">爱新觉罗</td>
      </tr>
      <tr>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">会员等级</td>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">V9</td>
      </tr>
      <tr>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">用户状态</td>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">已激活</td>
      </tr>
      <tr>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">注册时间</td>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">2018-08-06 20:52:33</td>
      </tr>
      
   </tbody>
</table>
 <!-- form -->

{include file="public/footer"}
