{include file="public/header1"}
<div class="container">
    <!--头部菜单-->
    {include file="public/top_menu1"}
    <!--遮罩层-->
    {include file="public/left_menu1"}
    <!--遮罩层-->
</div>
<script>
    $("#gongneng").click(function () {
        $("#zhezhao").css("display","block")
    })
    $(".navH").click(function () {
        $("#zhezhao").css("display","none")
    })
</script>
    <!--头部-->
    
    <!-- form -->
<table width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;position:  relative;top: 25px;">
   <tbody>
      <tr>
          <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">ID</td>
          <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">{$user ? $user.id : ''}</td>
      </tr>
      <tr>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">账号</td>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">{$user ? $user.user_login : ''}</td>
      </tr>
      <tr>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">姓名</td>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">{$user ? $user.user_nickname : ''}</td>
      </tr>
      <tr>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">手机号码</td>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">{$user ? $user.mobile : ''}</td>
      </tr>
      <tr>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">身份证</td>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">{$user ? $user.id_card : ''}</td>
      </tr>
      <tr>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">邀请人账号</td>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">{$user ? $user.upid : ''}</td>
      </tr>
      <tr>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">会员等级</td>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">{$user ? $user.name : ''}</td>
      </tr>
      <tr>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">用户状态</td>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">{$user['user_status'] > 0 ? '已激活' : '未激活'}</td>
      </tr>
      <tr>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">注册时间</td>
         <td style="height: 40px;padding-left: 20px;border-bottom: 1px solid black;">{$user.create_time|default=time()|date='Y-m-d H:i:s',###}</td>
      </tr>
      
   </tbody>
</table>
 <!-- form -->

{include file="public/footers"}
